
body{
    display: block;
    height: 800px;
    width: 550px;
    margin:auto;
}



#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    flex: 1 1 auto;
    border: 25px solid red;
    border-radius: 65px;
    box-shadow: -10px 10px rgba(161, 1, 1, 0.993), -10px 1px rgba(161,1,1,0.993),-10px 10px 5px black ;
    background-color: rgba(5, 61, 5, 0.329)
}

.row{
    display:flex;
    flex-direction:row;
    width: 500px;
    height: 500px;
}

.column {
  flex-basis: 100%;
}