
body{
    display:flex;
    align-items:center;
    justify-content: center;
}



#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display:flex;

}

.column {
    width: 30px;
    height: 30px;
}